body, header, li, a, h1, h2, figure, figcaption, input, form, option, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font-family: inherit;
}

li {
  list-style: none;
}

body {
  line-height: 1.5;
}

img {
  width: 100%;
}